:root {
    --primary-color: darkblue;
    --img-width: 150px;
    --border-color: black;
    --shadow-color: gray;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 800px;
}

main img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

aside {
    width: 300px;
    margin: 20px;
    border: 2px solid var(--border-color);
    padding: 2px;
    background-color: var(--border-color);
    color: white;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}